* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    }
    
    .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    #25232380), url(background.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    }
    .navbar {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    }
    
    .logo {
    width: 100px;
    cursor: pointer;
    }
    .menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
    margin: 40px;
    }
    nav {
    flex: 1;
    text-align: right;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    }
    nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    }
    .row {
    height: 88%;
    display: flex;
    align-items: center;
    }
    .col {
    width: 50%;
    padding-left: 5%;
    }
    h1 {
    color: rgb(94, 175, 232);
    font-size: 50px;
    }
    h3 {
    color: rgb(73, 214, 245);
    font-size: 30px;
    margin-top: 20px;
    }
    p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    }
    button {
    width: 180px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    border: 0;
    padding: 12px 0;
    outline: none;
    margin-top: 30px;
    font-size: 12px;
    }
    .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    color: rgb(2, 2, 2);font-size: 20px;
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position:center ;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    }
    .card1{
    background-image: url(photo1.jpg);
    }
    .card2{
    background-image: url(photo2.jpg);
    }
    .card3{
    background-image: url(photo3.jpg);
    }
    .card4{
    background-image: url(photo4.jpg);
    }
    .card:hover{
    transform: scale(1.1);
    }
    h5{
    color: #000000;
    text-shadow: 5px 5px 5px #999;
    }
    .card p{
    color: rgb(5, 6, 85);
    text-shadow: 5px 5px 5px #999;
    font-size: 16px;
    }
    
    form{
        margin:0 auto;
        max-width: 500px;
        min-width:200px;
        padding: 1em;
        width: 60vw;
        background-color:rgba(102, 59, 3, 0.5)
        
     }
    
    fieldset {
        border: none;
        padding: 4rem 0;
        
      }
    
    input,
    textarea,
    select{
        margin:10px 0 0 0;
        width:100%;
        min-height: 2em;
        background-color: #36454F;
        color: #ffffff;
    }
    
    input, textarea {
        border: 1px solid #0a0a23;
     }
    label{
        display:block;
        margin:1em auto;
    }
    input[type="submit"] {
        display: block;
        width: 60%;
        margin: 1em auto;
        height: 2em;
        font-size: 1.1rem;
        background-color: #3b3b4f;
        border-color: white;
        min-width: 300px;
      }
    .inline{
        width:unset;
        vertical-align:middle;
        margin: 0 0.5rem 0 0;
      }
    input, textarea {
        border: 1px solid #0a0a23;
      }
    body{
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d4/Lingarajpuram.JPG);
        background-size: 130%;
        color: #f2f6f5;
        font-family: Tahoma;
        font-size: 16px;
        object-fit: 130%;
        width: 100%;
        height: 100vh;
        margin: 0;
    }
